In [ ]:
import pandas as pd
import numpy as np
import datetime
import copy

In [ ]:
# read in rotues data

In [134]:
ROUTES = pd.read_csv("C:/Users/Administrator/PycharmProjects/Traffic/Data/routes (table 4).csv")
LINKS = pd.read_csv("C:/Users/Administrator/PycharmProjects/Traffic/Data/links (table 3).csv")

In [ ]:
ROUTES['link_seq'] = ROUTES['link_seq'].apply(lambda x :(x.split(',')))
LINK_SEQ = pd.DataFrame(ROUTES['link_seq'])
LINKS.index = LINKS.link_id

In [ ]:
# colculate each rotues length

In [135]:
SUM_LENGTH = []
for link_seq in ROUTES['link_seq']:
    temp_sum = 0
    for link in link_seq:
        temp_sum = temp_sum + LINKS.loc[int(link),:]['length']
    SUM_LENGTH.append(temp_sum)
SUM_LENGTH = pd.DataFrame(SUM_LENGTH)
LINK_SEQ = pd.concat([LINK_SEQ,SUM_LENGTH],axis=1)
LINK_SEQ.rename(columns={0:"SUM_LENGTH"},inplace=True)
ROUTES = pd.concat([ROUTES,LINK_SEQ],axis=1)
ROUTES.drop(['link_seq'],axis=1,inplace=True)

In [347]:
ROUTES.columns = ['INTERSECTION_ID','TOLLGATE_ID','SUM_LENGTH']

In [348]:
ROUTES

  INTERSECTION_ID  TOLLGATE_ID  SUM_LENGTH
0               A            2         384
1               A            3         852
2               B            1         821
3               B            3         477
4               C            1        1550
5               C            3        1206

In [ ]:
# read in holi data

In [298]:
import datetime

In [306]:
HOLI = pd.read_csv("C:/Users/Administrator/PycharmProjects/Traffic/Data/HOLI.csv")
HOLI['DATE'] =HOLI['DATE'].apply(lambda x:datetime.datetime.strptime(str(x),'%Y%m%d').date() )

In [ ]:
# read in raw data

In [309]:
AVG_TIME20 = pd.read_csv("C:/Users/Administrator/PycharmProjects/Traffic/Data/training_20min_avg_travel_time-Copy1.csv")
AVG_TIME20['START_TIME'] = AVG_TIME20['time_window'].apply(lambda x :(x.split(','))[0][1:])

In [310]:
AVG_TIME20['TIME'] = pd.DatetimeIndex(AVG_TIME20.START_TIME).time
AVG_TIME20['DATE'] = pd.DatetimeIndex(AVG_TIME20.START_TIME).date
AVG_TIME20['HOUR'] = pd.DatetimeIndex(AVG_TIME20.START_TIME).hour
AVG_TIME20['DAY'] = pd.DatetimeIndex(AVG_TIME20.DATE).dayofweek

In [311]:
AVG_TIME20.drop(['time_window','START_TIME'],axis=1,inplace=True)

In [312]:
AVG_TIME20

,intersection_id,tollgate_id,avg_travel_time,TIME,DATE,HOUR,DAY
0,B,3,70.85,00:00:00,2016-07-19,0,1
1,B,3,148.79,00:20:00,2016-07-19,0,1
2,B,3,93.72,01:40:00,2016-07-19,1,1
3,B,3,67.81,02:00:00,2016-07-19,2,1
4,B,3,167.55,02:40:00,2016-07-19,2,1
5,B,3,98.49,03:40:00,2016-07-19,3,1
6,B,3,96.67,04:00:00,2016-07-19,4,1
7,B,3,53.15,04:20:00,2016-07-19,4,1
8,B,3,55.25,04:40:00,2016-07-19,4,1
9,B,3,209.66,05:00:00,2016-07-19,5,1
10,B,3,145.94,06:00:00,2016-07-19,6,1
11,B,3,127.35,06:20:00,2016-07-19,6,1
12,B,3,97.20,06:40:00,2016-07-19,6,1
13,B,3,118.43,07:00:00,2016-07-19,7,1
14,B,3,82.63,07:20:00,2016-07-19,7,1
15,B,3,110.50,07:40:00,2016-07-19,7,1
16,B,3,125.76,08:00:00,2016-07-19,8,1
17,B,3,141.33,08:20:00,2016-07-19,8,1
18,B,3,176.08,08:40:00,2016-07-19,8,1
19,B,3,165.29,09:00:00,2016-07-19,9,1
20,B,3,127.38,09:20:00,2016-07-19,9,1
21,B,3,117.83,09:40:00,2016-07-19,9,1
22,B,3,98.92,10:00:00,2016-07-19,10,1
23,B,3,113.00,10:20:00,2016-07-19,10,1
24,B,3,98.15,10:40:00,2016-07-19,10,1
25,B,3,95.98,11:00:00,2016-07-19,11,1
26,B,3,84.36,11:20:00,2016-07-19,11,1
27,B,3,96.54,11:40:00,2016-07-19,11,1
28,B,3,144.87,12:00:00,2016-07-19,12,1
29,B,3,136.36,12:20:00,2016-07-19,12,1
...,...,...,...,...,...,...,...
25114,C,1,142.21,10:00:00,2016-10-17,10,0
25115,C,1,166.92,10:20:00,2016-10-17,10,0
25116,C,1,180.04,10:40:00,2016-10-17,10,0
25117,C,1,166.94,11:00:00,2016-10-17,11,0
25118,C,1,153.59,11:20:00,2016-10-17,11,0
25119,C,1,172.90,11:40:00,2016-10-17,11,0
25120,C,1,167.98,12:00:00,2016-10-17,12,0
25121,C,1,203.06,12:20:00,2016-10-17,12,0
25122,C,1,217.37,12:40:00,2016-10-17,12,0
25123,C,1,165.00,13:00:00,2016-10-17,13,0
25124,C,1,218.76,13:20:00,2016-10-17,13,0
25125,C,1,165.84,13:40:00,2016-10-17,13,0
25126,C,1,191.14,14:00:00,2016-10-17,14,0
25127,C,1,187.10,14:20:00,2016-10-17,14,0
25128,C,1,175.01,14:40:00,2016-10-17,14,0
25129,C,1,143.98,15:00:00,2016-10-17,15,0
25130,C,1,134.58,15:20:00,2016-10-17,15,0
25131,C,1,483.07,15:40:00,2016-10-17,15,0
25132,C,1,180.28,16:00:00,2016-10-17,16,0
25133,C,1,150.44,16:20:00,2016-10-17,16,0
25134,C,1,170.89,16:40:00,2016-10-17,16,0
25135,C,1,159.01,17:00:00,2016-10-17,17,0
25136,C,1,170.13,17:20:00,2016-10-17,17,0
25137,C,1,267.11,18:00:00,2016-10-17,18,0
25138,C,1,188.23,19:40:00,2016-10-17,19,0
25139,C,1,171.97,20:40:00,2016-10-17,20,0
25140,C,1,121.61,21:20:00,2016-10-17,21,0
25141,C,1,115.16,22:20:00,2016-10-17,22,0
25142,C,1,194.33,23:00:00,2016-10-17,23,0
25143,C,1,159.78,23:20:00,2016-10-17,23,0

In [313]:
AVG_TIME20 = pd.merge(ROUTES,AVG_TIME20,on=['intersection_id','tollgate_id'],how='right')
AVG_TIME20 = pd.merge(AVG_TIME20,HOLI,on=['DATE'],how='left')

In [ ]:
#%%  calculate top hours

In [271]:
TOP_N = 1
INTERSECTION_ID = []
TOLLGATE_ID = []
ROUTE_HOUR_head = []
ROUTE_PCT_head = []
ROUTE_MIN_TTIME = []
ROUTE_MAX_TTIME = []
ROUTE_MEAN_TTIME = []
ROUTE_LAST_TTIME = []

In [272]:
for key,values in AVG_TIME20.groupby(['intersection_id','tollgate_id']):
    values.reset_index(inplace=True)
    #group top hour     
    tt = values.groupby(['HOUR'],as_index=False).sum()
    tt2 = tt.sort_values('avg_travel_time',ascending = False,inplace = False)
    tt3 = tt2.head(TOP_N)['HOUR'].values
    tt4 = tt2.head(TOP_N)['avg_travel_time'].values/tt2['avg_travel_time'].sum()
    #group date      
    tt5 = values.groupby(['DATE'],as_index=False).min().mean()
    tt6 = values.groupby(['DATE'],as_index=False).max().mean()
    values['MEAN']  = values['avg_travel_time'] * values['HOUR'] 
    
    INTERSECTION_ID.append(values['intersection_id'][0])
    TOLLGATE_ID.append(values['tollgate_id'][0])
    ROUTE_HOUR_head.append(tt3)
    ROUTE_PCT_head.append(tt4)
    
    ROUTE_MIN_TTIME.append(tt5.HOUR)
    ROUTE_MAX_TTIME.append(tt6.HOUR)
    ROUTE_MEAN_TTIME.append(values['MEAN'].sum()/values['avg_travel_time'].sum() )
    ROUTE_LAST_TTIME.append(tt6.HOUR-tt5.HOUR)

f:\python35\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()

In [273]:
INTERSECTION_ID_df = pd.DataFrame(INTERSECTION_ID)
TOLLGATE_ID_df = pd.DataFrame(TOLLGATE_ID)
ROUTE_HOUR_head_df = pd.DataFrame(ROUTE_HOUR_head)
ROUTE_PCT_head_df = pd.DataFrame(ROUTE_PCT_head)
ROUTE_MIN_TTIME_df = pd.DataFrame(ROUTE_MIN_TTIME)
ROUTE_MAX_TTIME_df = pd.DataFrame(ROUTE_MAX_TTIME)
ROUTE_LAST_TTIME_df = pd.DataFrame(ROUTE_LAST_TTIME)
ROUTE_MEAN_TTIME_df = pd.DataFrame(ROUTE_MEAN_TTIME)
ROUTE_HOUR_INFO = pd.concat([INTERSECTION_ID_df,TOLLGATE_ID_df,ROUTE_HOUR_head_df,ROUTE_PCT_head_df,ROUTE_MIN_TTIME_df,ROUTE_MAX_TTIME_df,ROUTE_LAST_TTIME_df,ROUTE_MEAN_TTIME_df],axis = 1)

In [274]:
ROUTE_HOUR_INFO.columns = ['INTERSECTION_ID','TOLLGATE_ID','ROUTE_HOUR_head','ROUTE_PCT_head','ROUTE_MIN_TTIME','ROUTE_MAX_TTIME','ROUTE_LAST_TTIME','ROUTE_MEAN_TTIME']

In [275]:
ROUTE_HOUR_INFO

,INTERSECTION_ID,TOLLGATE_ID,ROUTE_HOUR_head,ROUTE_PCT_head,ROUTE_MIN_TTIME,ROUTE_MAX_TTIME,ROUTE_LAST_TTIME,ROUTE_MEAN_TTIME
0,A,2,8,0.057396,0.109890,23.000000,22.890110,12.128412
1,A,3,9,0.066814,0.175824,22.934066,22.758242,12.511789
2,B,1,14,0.068080,1.967033,22.010989,20.043956,12.681418
3,B,3,9,0.060641,0.428571,22.758242,22.329670,12.755572
4,C,1,13,0.064293,1.802198,22.054945,20.252747,13.084869
5,C,3,16,0.079021,3.219780,21.978022,18.758242,13.524524

In [ ]:
#%%  ratio of weekday and weekend median

In [333]:
INTERSECTION_ID = []
TOLLGATE_ID = []
WORK_DAY_MEDIAN = []
WEEKEND_MEDIAN = []

In [334]:
for key,values in AVG_TIME20.groupby(['intersection_id','tollgate_id']):
    values.reset_index(inplace=True)
    #get wk(weekend)/wd(work day)   
    wd = values[values['HOLI']==0].median()
    wk = values[values['HOLI']>=1].median()
    INTERSECTION_ID.append(values['intersection_id'][0])
    TOLLGATE_ID.append(values['tollgate_id'][0])
    WEEKEND_MEDIAN.append(wd.avg_travel_time)
    WORK_DAY_MEDIAN.append(wk.avg_travel_time)

In [331]:
INTERSECTION_ID_df = pd.DataFrame(INTERSECTION_ID)
TOLLGATE_ID_df = pd.DataFrame(TOLLGATE_ID)
WEEKEND_MEDIAN_df = pd.DataFrame(WEEKEND_MEDIAN)
WORK_DAY_MEDIAN_df = pd.DataFrame(WORK_DAY_MEDIAN)
ROUTE_WORK_WEEKEND_INFO = pd.concat([INTERSECTION_ID_df,TOLLGATE_ID_df,WEEKEND_MEDIAN_df,WORK_DAY_MEDIAN_df],axis = 1)

In [340]:
ROUTE_WORK_WEEKEND_INFO.columns = ['intersection_id','tollgate_id','WEEKEND_MEDIAN','WORK_DAY_MEDIAN'];

In [341]:
ROUTE_WORK_WEEKEND_INFO

  intersection_id  tollgate_id  WEEKEND_MEDIAN  WORK_DAY_MEDIAN
0               A            2       66.439694        64.303674
1               A            3      120.869129       114.933647
2               B            1      122.713487       125.618278
3               B            3      111.153941       108.568946
4               C            1      178.038113       191.306020
5               C            3      183.102168       189.812805

In [ ]:
#%%

In [337]:
HOLI_list = [0,0,0,0,0,1,1]
DofW_list = [0,1,2,3,4,5,6]

In [343]:
for holi_ind, DofW_ind in zip(HOLI_list,DofW_list):
    DAYOFWEEK = AVG_TIME20[(AVG_TIME20['HOLI']==holi_ind)&(AVG_TIME20['DAY']==DofW_ind)].groupby(['intersection_id','tollgate_id'],as_index = False).median()
    DAYOFWEEK = DAYOFWEEK[['intersection_id','tollgate_id','avg_travel_time']].rename(columns = {'avg_travel_time':'d'+str(DofW_ind)})
    ROUTE_WORK_WEEKEND_INFO = pd.merge(ROUTE_WORK_WEEKEND_INFO, DAYOFWEEK, on=['intersection_id','tollgate_id'],how = 'left')

In [345]:
ROUTE_SI =  [(lambda x:('SI'+ str(x).zfill(2))) (x)  for x in range(9)]
ROUTE_WORK_WEEKEND_INFO.columns = ['INTERSECTION_ID','TOLLGATE_ID'] + ROUTE_SI
ROUTE_WORK_WEEKEND_INFO['FIX'] = ROUTE_WORK_WEEKEND_INFO[ROUTE_SI].mean(axis = 1)
ROUTE_WORK_WEEKEND_INFO[ROUTE_SI] = ROUTE_WORK_WEEKEND_INFO[ROUTE_SI].div( ROUTE_WORK_WEEKEND_INFO['FIX'],axis = 0)
# del ROUTE_WORK_WEEKEND_INFO['FIX']
ROUTE_WORK_WEEKEND_INFO['RATIO'] = ROUTE_WORK_WEEKEND_INFO['SI00']/ ROUTE_WORK_WEEKEND_INFO['SI01']

In [346]:
ROUTE_WORK_WEEKEND_INFO

,INTERSECTION_ID,TOLLGATE_ID,SI00,SI01,SI02,SI03,SI04,SI05,SI06,SI07,SI08,FIX,RATIO
0,A,2,1.066318,1.032036,0.986718,0.979656,0.974681,0.973236,1.027403,1.005816,0.954137,62.307596,1.033218
1,A,3,1.087759,1.034343,1.005512,0.973204,1.004882,0.965104,0.986073,0.977839,0.965284,111.117531,1.051643
2,B,1,1.029009,1.053367,0.951372,0.981350,0.967933,0.953846,1.019755,1.031411,1.011957,119.254085,0.976876
3,B,3,1.028491,1.004573,0.990055,0.968959,1.005461,0.993016,0.993710,1.024939,0.990796,108.074765,1.023810
4,C,1,1.013151,1.088654,0.940862,0.961804,0.998508,0.939183,1.003374,1.036067,1.018397,175.727126,0.930646
5,C,3,1.014416,1.051595,0.952299,0.977064,0.983878,0.950471,0.988199,1.066288,1.015789,180.499997,0.964646

In [ ]:
# Merge aLL route features

In [349]:
ROUTES = pd.merge(ROUTES,ROUTE_WORK_WEEKEND_INFO, on=['INTERSECTION_ID','TOLLGATE_ID'],how = 'left') 
ROUTES = pd.merge(ROUTES,ROUTE_HOUR_INFO, on=['INTERSECTION_ID','TOLLGATE_ID'],how = 'left')

In [351]:
ROUTE_INFO

,INTERSECTION_ID,TOLLGATE_ID,ROUTE_HOUR_head,ROUTE_PCT_head,ROUTE_MIN_TTIME,ROUTE_MAX_TTIME,ROUTE_LAST_TTIME,ROUTE_MEAN_TTIME
0,A,2,8,0.057396,0.109890,23.000000,22.890110,12.128412
1,A,3,9,0.066814,0.175824,22.934066,22.758242,12.511789
2,B,1,14,0.068080,1.967033,22.010989,20.043956,12.681418
3,B,3,9,0.060641,0.428571,22.758242,22.329670,12.755572
4,C,1,13,0.064293,1.802198,22.054945,20.252747,13.084869
5,C,3,16,0.079021,3.219780,21.978022,18.758242,13.524524